!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fluxxy
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", rel: "stylesheet"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %script{src: "https://cdn.jsdelivr.net/npm/apexcharts"}
  %body
    %nav.navbar.navbar-expand-lg.bg-dark.p-3{"data-bs-theme" => "dark"}
      .container
        %a.navbar-brand.fs-3{href: root_path} FluxCommerce
        %ul.navbar-nav.ms-auto
          %li.nav-item
            %a.nav-link{href: root_path, class: current_page?(root_path) ? 'active' : nil} Dashboard
          %li.nav-item
            %a.nav-link{href: aggregate_dashboard_path, class: current_page?(aggregate_dashboard_path) ? 'active' : nil} Aggregate dashboard
          %li.nav-item
            %a.nav-link{href: influx_dashboard_path, class: current_page?(influx_dashboard_path) ? 'active' : nil} Influx dashboard
    = yield
